@import 'mixins.styl'
body{
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none
}

.flexalign{
  flexalign()
}

.flex-cs{
  flex-cs()
}

.mt20{
  margin-top: 20px;
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b7dfa7;
}